<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PeachCode_GoogleOneTap::GoogleOneTap"
             title="Google One Tap Login"
             module="PeachCode_GoogleOneTap"
             sortOrder="10"
             resource="PeachCode_GoogleOneTap::GoogleOneTap"
        />
        <add id="PeachCode_GoogleOneTap::configuration"
             title="Google One Tap Login Configuration"
             module="PeachCode_GoogleOneTap"
             sortOrder="20"
             parent="PeachCode_GoogleOneTap::GoogleOneTap"
             action="adminhtml/system_config/edit/section/GoogleOneTap"
             resource="PeachCode_GoogleOneTap::configuration"
        />
    </menu>
</config>
